$bg-details: rgba(255, 255, 255, 0.8);
$white-lgsaber: #fff;
$blue-lgsaber: #2ab9cc;
$green-lgsaber: #0f0;
$yellow-lgsaber: #ff0;
$orange-lgsaber: #d16a06;
$red-lgsaber: #f00;
$purple-lgsaber: #c32aff;
